/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

.app-main-right {
  flex: 2;
  margin-left: 24px;
  max-width: 400px;
  max-height: 300px;
}
.cards-area {
  background-color: #dddddd;
  padding: 24px;
  height: 100%;
  overflow-y: auto;
  border-radius: 20px;
}
.app-main-right .card-image-wrapper {
  max-height: 100%;
  padding: 0;
  height: 100%;
}
.app-main-right .card {
  height: 160px;
}
.app-main-right .card-image-wrapper img {
  margin: 0;
}

.app-main-right-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  color: white;
  background-color: #248c46;
}
.app-main-right-header span {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
.app-main-right-header a {
  font-size: 14px;
  color: #ff0000;
  font-weight: 600;
}
.app-main-right {
  position: relative;
  padding-top: 0;
}
.app-main-right .card-wrapper {
  width: 100%;
  padding: 8px 0;
}
.app-main-right .card {
  display: flex;
}
.app-main-right .card-image-wrapper {
  flex-basis: 40%;
  flex-shrink: 0;
}
.app-main-right .card-image-wrapper img {
  height: 100%;
}

/* input[type="radio"]:checked + label {
  color: "blue";
}

input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0);
}

input[id="radio-2"]:checked ~ .glider {
  transform: translateX(100%);
}

input[id="radio-3"]:checked ~ .glider {
  transform: translateX(200%);
} */

/* <div className="flex relative bg-white shadow rounded-lg p-3 z-10 items-center">
      <input className="hidden" type="radio" id="radio-1" name="tabs" checked />
      <label className="relative flex items-center justify-center h-[54px] w-[200px] font-medium text-lg rounded-full transition-colors cursor-pointer" htmlFor="radio-1">Upcoming<span className="notification">2</span></label>
      <input className="hidden" type="radio" id="radio-2" name="tabs" />
      <label className="relative flex items-center justify-center h-[54px] w-[200px] font-medium text-lg rounded-full transition-colors cursor-pointer" htmlFor="radio-2">Development</label>
      <input className="hidden" type="radio" id="radio-3" name="tabs" />
      <label className="relative flex items-center justify-center h-[54px] w-[200px] font-medium text-lg rounded-full transition-colors cursor-pointer" htmlFor="radio-3">Completed</label>
      <span className="glider absolute flex h-[54px] w-[200px] bg-blue-700 transition-all rounded-full z-30"></span>
    </div> */
