.rw-scaffold {
  @apply bg-white text-gray-600;
}
.rw-scaffold h1,
.rw-scaffold h2 {
  @apply m-0;
}
a {
  @apply font-medium text-blue-600 hover:underline dark:text-blue-500;
}
.rw-scaffold a {
  @apply bg-transparent;
}
.rw-scaffold ul {
  @apply m-0 p-0;
}
.rw-scaffold input:-ms-input-placeholder {
  @apply text-gray-500;
}
.rw-scaffold input::-ms-input-placeholder {
  @apply text-gray-500;
}
.rw-scaffold input::placeholder {
  @apply text-gray-500;
}
.rw-header {
  @apply flex justify-between py-4 px-8;
}
.rw-main {
  /* @apply mx-4 pb-4; */
  @apply pb-4;
}
.rw-segment {
  @apply w-full overflow-hidden; /*  rounded-lg border border-gray-200  */
  scrollbar-color: theme("colors.zinc.400") transparent;
}
.rw-segment::-webkit-scrollbar {
  height: initial;
}
.rw-segment::-webkit-scrollbar-track {
  @apply rounded-t-none rounded-b-[10px] border-0 border-t border-solid border-gray-200 bg-transparent p-[2px];
}
.rw-segment::-webkit-scrollbar-thumb {
  @apply rounded-full border-[3px] border-solid border-transparent bg-zinc-400 bg-clip-content;
}
.rw-segment-header {
  @apply py-3 px-4 text-gray-700 dark:text-stone-200;
}
.rw-segment-main {
  @apply bg-gray-100 p-4 dark:bg-transparent;
}
.rw-link {
  @apply text-blue-400 underline;
}
.rw-link:hover {
  @apply text-blue-500;
}
.rw-forgot-link {
  @apply mt-1 text-right text-xs text-gray-400 underline;
}
.rw-forgot-link:hover {
  @apply text-blue-500;
}
.rw-heading {
  @apply font-semibold;
}
.rw-heading.rw-heading-primary {
  @apply text-xl;
}
.rw-heading.rw-heading-secondary {
  @apply text-sm;
}
.rw-heading .rw-link {
  @apply text-gray-600 no-underline;
}
.rw-heading .rw-link:hover {
  @apply text-gray-900 underline;
}
.rw-cell-error {
  @apply text-sm font-semibold;
}
.rw-form-wrapper {
  @apply -mt-4 text-sm;
}
.rw-cell-error,
.rw-form-error-wrapper {
  @apply my-4 rounded border border-red-100 bg-red-50 p-4 text-red-600;
}
.rw-form-error-title {
  @apply m-0 font-semibold;
}
.rw-form-error-list {
  @apply mt-2 list-inside list-disc;
}
/* Form Section */
.rw-form-group {
  @apply mt-2 flex flex-col items-start border-t border-stone-500 text-gray-900 dark:border-zinc-300 dark:text-stone-200;
}
.rw-form-group legend {
  @apply pr-2 text-xl;
}
.rw-form-group > div {
  @apply flex flex-row items-start space-y-3 sm:space-y-0 sm:space-x-3;
}

.rw-button {
  /* @apply flex cursor-pointer justify-center rounded border-0 bg-gray-200 py-1 px-4 text-xs font-semibold uppercase leading-loose tracking-wide text-gray-500 no-underline transition duration-100; */
  @apply rounded-lg py-2.5 px-6 text-sm font-medium text-white transition duration-100 ease-in-out focus:outline-none;
}
/* .rw-button:hover {
  @apply bg-gray-500 text-white;
} */
.rw-button.disabled {
  @apply cursor-not-allowed opacity-50;
}
.rw-button.disabled:hover {
  @apply bg-current ring-0;
}
/*
// ----------------------------
// Button Sizes
// ----------------------------
*/
.rw-button.rw-button-small {
  @apply rounded-sm py-1 px-2 text-xs;
}
.rw-button.rw-button-large {
  @apply rounded-lg py-3 px-8 text-base;
}

/*
// ----------------------------
// Button Variants
// ----------------------------
*/
.rw-button.rw-button-green-outline {
  @apply border-pea-700 text-pea-700 dark:border-pea-500 dark:text-pea-500 border;
  /* @apply border-pea-500 text-pea-500 rounded border-2 font-normal leading-tight transition duration-150 ease-in-out hover:bg-opacity-5; */
}
.rw-button.rw-button-green-outline:hover {
  @apply bg-pea-800 dark:bg-pea-600 text-white;
}
.rw-button.rw-button-green-outline:focus {
  @apply ring-pea-300 dark:ring-pea-800 outline-none ring-4;
}

.rw-button.rw-button-gray-outline {
  @apply border border-stone-700 dark:border-gray-500;
}
.rw-button.rw-button-gray-outline:hover {
  @apply border-stone-800 dark:border-stone-600;
}
.rw-button.rw-button-gray-outline:focus {
  @apply outline-none ring-4 ring-stone-300 dark:ring-stone-800;
}

.rw-button.rw-button-red-outline {
  @apply border border-red-700 text-red-700 dark:border-red-500 dark:text-red-500;
}
.rw-button.rw-button-red-outline:hover {
  @apply border-red-800 dark:border-red-600;
}
.rw-button.rw-button-red-outline:focus {
  @apply outline-none ring-4 ring-red-300 dark:ring-red-800;
}

/* Green Button */
.rw-button.rw-button-green {
  @apply bg-pea-500 text-white;
}
.rw-button.rw-button-green:hover {
  @apply bg-pea-600;
}
.rw-button.rw-button-green:focus {
  @apply ring-pea-300 dark:ring-pea-800 outline-none ring-4;
}

/* Blue Button */
.rw-button.rw-button-blue {
  @apply bg-blue-500 text-white;
}
.rw-button.rw-button-blue:hover {
  @apply bg-blue-600;
}
.rw-button.rw-button-blue:focus {
  @apply outline-none ring-4 ring-blue-300 dark:ring-blue-800;
}

/* Red Button */
.rw-button.rw-button-red {
  @apply bg-red-500 text-white;
}
.rw-button.rw-button-red:hover {
  @apply bg-red-700 text-white;
}
.rw-button.rw-button-red:focus {
  @apply outline-none ring-4 ring-red-300 dark:ring-red-800;
}

/* Yellow Button */
.rw-button.rw-button-yellow {
  @apply bg-yellow-500 text-white;
}
.rw-button.rw-button-yellow:hover {
  @apply bg-yellow-600 text-white;
}
.rw-button.rw-button-yellow:focus {
  @apply outline-none ring-4 ring-yellow-300 dark:ring-yellow-800;
}

/* Gray Button */
.rw-button.rw-button-gray {
  @apply border-gray-300 bg-gray-50 text-gray-900 dark:border-zinc-500 dark:bg-zinc-700 dark:text-stone-200;
}
.rw-button.rw-button-gray:hover {
  @apply border-gray-500 bg-gray-500 ring ring-gray-200 dark:border-zinc-600 dark:bg-zinc-700 dark:ring-zinc-600;
}
.rw-button.rw-button-gray:focus {
  @apply outline-none ring-4 ring-gray-300 dark:ring-zinc-800;
}

.rw-button.rw-button-icon {
  @apply inline-flex items-center;
}
.rw-button-icon {
  @apply mr-1 text-xl leading-5;
}
.rw-button-group {
  @apply my-3 flex justify-center rounded-md shadow-sm;
}
.rw-button-group .rw-input {
  @apply rounded-none first:rounded-l-md last:rounded-r-md;
}
.rw-button-group .rw-button {
  @apply mx-1;
}
.rw-form-wrapper .rw-button-group {
  @apply mt-8;
}
.rw-label {
  @apply mt-4 inline-block text-left font-semibold uppercase tracking-wide text-gray-600 dark:text-stone-300;
}
.rw-label.rw-label-error {
  @apply text-red-600;
}
.rw-helper-text {
  @apply mt-2 text-xs text-gray-600 dark:text-stone-300;
}
.rw-input {
  /* @apply block mt-2 w-full p-2 bg-white border border-gray-200 rounded outline-none; */
  /* old color style dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-gray-300 dark:focus:ring-stone-200 */
  @apply mt-1 block rounded-lg border border-gray-300 bg-gray-50 px-4 py-2.5 text-sm text-gray-900 !outline-none invalid:border-red-500 focus:border-stone-500 focus:ring-0 focus:ring-stone-500 contrast-more:border-black contrast-more:placeholder-black dark:border-zinc-500 dark:bg-zinc-600 dark:text-stone-200 dark:focus:border-zinc-400 dark:focus:bg-zinc-600 dark:focus:ring-stone-200 dark:contrast-more:border-white dark:contrast-more:placeholder-white;
}
.rw-input option {
  @apply appearance-none border-b border-black focus:outline-none dark:border-white;
}
.rw-check-radio-items {
  @apply flex justify-items-center;
}
.rw-check-radio-item-none {
  @apply text-gray-600;
}
.rw-checkbox,
.rw-input[type="checkbox"] {
  @apply ml-0 mr-1 h-6 w-6 cursor-pointer appearance-none rounded bg-contain bg-center bg-no-repeat p-2 transition duration-200 focus:outline-none;
}
.rw-checkbox:checked,
.rw-input[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}
.rw-input[type="radio"] {
  @apply ml-0 mr-1 mt-1 inline w-4;
}
.rw-toggle {
  @apply h-6 w-11 rounded-full bg-gray-200 after:absolute after:top-[2px] after:left-[2px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] dark:border-gray-600 dark:bg-gray-700;
}
/* .rw-input:focus {
  @apply border-gray-400;
} */
.rw-input-error {
  @apply border-red-600 text-red-600 placeholder-red-700;
}
.rw-input-error:focus {
  @apply border-red-600 outline-none;
  box-shadow: 0 0 5px #c53030;
}
.rw-field-error {
  @apply mt-1 block text-xs font-semibold uppercase text-red-600;
}
.rw-table-wrapper-responsive {
  @apply overflow-x-auto;
}
.rw-table-wrapper-responsive .rw-table {
  min-width: 48rem;
}
.rw-table {
  @apply w-full text-sm;
}
.rw-table th,
.rw-table td {
  @apply p-3;
}
.rw-table td {
  @apply bg-white text-gray-900;
}
.rw-table tr:nth-child(odd) td,
.rw-table tr:nth-child(odd) th {
  @apply bg-gray-50;
}
.rw-table tr:nth-child(even) td,
.rw-table tr:nth-child(even) th {
  @apply bg-white;
}
.rw-table thead tr {
  @apply bg-gray-200 text-gray-600;
}
.rw-table th {
  @apply text-left font-semibold;
}
.rw-table thead th {
  @apply text-left;
}
.rw-table tbody th {
  @apply text-right;
}
@media (min-width: 768px) {
  .rw-table tbody th {
    @apply w-1/5;
  }
}
.rw-table tbody tr {
  @apply border-t border-gray-200;
}
.rw-table input {
  @apply ml-0;
}
.rw-table-actions {
  @apply flex h-4 items-center justify-end pr-1;
}
.rw-table-actions .rw-button {
  @apply bg-transparent;
}
.rw-table-actions .rw-button:hover {
  @apply bg-gray-500 text-white;
}
.rw-table-actions .rw-button-blue {
  @apply text-blue-500;
}
.rw-table-actions .rw-button-blue:hover {
  @apply bg-blue-500 text-white;
}
.rw-table-actions .rw-button-red {
  @apply text-red-600;
}
.rw-table-actions .rw-button-red:hover {
  @apply bg-red-600 text-white;
}
.rw-text-center {
  @apply text-center;
}
.rw-login-container {
  @apply mx-auto my-16 flex w-96 flex-wrap items-center justify-center;
}
.rw-login-container .rw-form-wrapper {
  @apply w-full text-center;
}
.rw-login-link {
  @apply mt-4 w-full text-center text-sm text-gray-600;
}
.rw-webauthn-wrapper {
  @apply mx-4 mt-6 leading-6;
}
.rw-webauthn-wrapper h2 {
  @apply mb-4 text-xl font-bold;
}
.rw-img-disable img {
  @apply opacity-40 brightness-[1.4] contrast-0 hue-rotate-[116deg] saturate-[.28] sepia;
}

.rw-check-input {
  @apply absolute hidden overflow-hidden;
}
.rw-check-input:checked + .rw-check-tile {
  @apply border-pea-500 text-pea-500 shadow-lg;
}
.rw-check-input:checked + .rw-check-tile::before {
  @apply bg-pea-500 border-pea-500 scale-100 opacity-100;
}
.rw-check-input:checked + .rw-check-tile span {
  @apply text-white;
}
.rw-check-tile {
  @apply relative flex h-28 w-28 cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-gray-300 bg-gray-50 shadow transition-all duration-150 dark:border-zinc-500 dark:bg-zinc-600;
}
.rw-check-tile:hover::before {
  @apply scale-100 stroke-stone-100 text-stone-100 opacity-100;
}
.rw-check-tile::before {
  @apply absolute top-1 left-1 block h-5 w-5 scale-0 transform rounded-full border bg-[url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='192'%20height='192'%20fill='%23FF0000'%20viewBox='0%200%20256%20256'%3E%3Crect%20width='256'%20height='256'%20fill='none'%3E%3C/rect%3E%3Cpolyline%20points='216%2072.005%20104%20184%2048%20128.005'%20fill='none'%20stroke='%23ffffff'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E")] bg-[length:12px_12px] bg-center bg-no-repeat opacity-0 transition-all duration-150 ease-in content-[''];
}

.camera {
  display: flex;
  margin: 1.5em;
  position: relative;
  width: 14em;
  height: 14em;
  transform: translateZ(0);
  transform-style: preserve-3d;
}
.camera__front,
.camera__contents,
.camera__red-light,
.camera__lens-inner,
.camera__lens-inner-glare1,
.camera__lens-inner-glare2,
.camera__lens-glare,
.camera__lens-ring,
.camera__lens-ring-glare1,
.camera__lens-ring-glare2,
.camera__lens-ring-glare3,
.camera__lens-eye,
.camera__lens-eye-shadow,
.camera__lens-eye-ring,
.camera__lens-eye-inner-glare,
.camera__lens-eye-center,
.camera__lens-eye-center-glare,
.camera__lens-eye-glass,
.camera__lens-eye-glass-color,
.camera__lens-eye-glare,
.camera__lens-shadow,
.camera__shadow {
  position: absolute;
}
.camera__red-light,
.camera__lens-back,
.camera__lens-ring,
.camera__lens-inner,
.camera__lens-inner-glare1,
.camera__lens-inner-glare2,
.camera__lens-glare,
.camera__lens-ring-glare1,
.camera__lens-ring-glare2,
.camera__lens-ring-glare3,
.camera__lens-eye,
.camera__lens-eye-shadow,
.camera__lens-eye-ring,
.camera__lens-eye-center,
.camera__lens-eye-glass,
.camera__lens-eye-glass-color {
  border-radius: 0.3rem;
}
.camera__front {
  background-image: linear-gradient(hsl(223, 10%, 85%), hsl(223, 10%, 90%));
  border-radius: inherit;
  box-shadow: 0 0.1em 0 hsl(223, 10%, 95%) inset;
  width: 100%;
  height: 100%;
  transform: translateZ(1em);
  z-index: 1;
}
.camera__contents {
  top: 2.5em;
  left: 2.5em;
  width: 9em;
  height: 9em;
  transform: translateZ(1em);
  transform-style: preserve-3d;
  z-index: 2;
}
.camera__red-light {
  animation-name: cameraRedLight;
  background-color: hsl(3, 90%, 65%);
  box-shadow: 0.1em -0.1em 0.1em 0.1em hsl(3, 90%, 50%) inset,
    0 0 0.5em 0.25em hsla(3, 90%, 70%, 0.5);
  top: 0;
  right: 0;
  width: 0.6em;
  height: 0.6em;
}
.camera__lens-back,
.camera__lens-ring,
.camera__lens-inner {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.camera__lens-back {
  background-color: hsl(223, 10%, 70%);
  transform: translateZ(0.01em);
}
.camera__lens-ring {
  background-color: hsl(223, 10%, 45%);
  overflow: hidden;
  transform: translateZ(1.5em);
}
.camera__lens-ring-glare1 {
  animation-name: cameraRingGlare1;
  background-image: radial-gradient(
    100% 100% at center,
    hsl(0, 0%, 100%) 25%,
    hsla(0, 0%, 100%, 0) 50%
  );
  bottom: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform-origin: 0 50%;
}
.camera__lens-ring-glare2 {
  animation-name: cameraRingGlare2;
  background-image: radial-gradient(
    100% 100% at center,
    hsl(223, 10%, 85%) 30%,
    hsla(223, 10%, 85%, 0) 50%
  );
  top: 30%;
  right: 30%;
  width: 140%;
  height: 140%;
}
.camera__lens-ring-glare3 {
  animation-name: cameraRingGlare3;
  background-image: radial-gradient(
    100% 100% at center,
    hsl(223, 10%, 70%) 30%,
    hsla(223, 10%, 70%, 0) 50%
  );
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
}
.camera__lens-inner {
  animation-name: cameraLensInner;
  background-color: hsl(223, 10%, 65%);
  box-shadow: 0 0 0 0.125em hsl(223, 10%, 50%);
  top: 0.5em;
  left: 0.5em;
  width: 8em;
  height: 8em;
  transform: translateZ(1.5em);
}
.camera__lens-inner-glare1 {
  animation-name: cameraLensInnerGlare1;
  box-shadow: 0.5em -1em 0.5em 0.5em hsl(223, 10%, 85%) inset;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.camera__lens-inner-glare2 {
  animation-name: cameraLensInnerGlare2;
  border: 1em solid hsl(223, 10%, 85%);
  border-bottom: 1em solid transparent;
  filter: blur(4px);
  opacity: 0.5;
  top: 0.6em;
  left: 0.6em;
  width: 6.8em;
  height: 6.8em;
  transform: rotate(-45deg);
}
.camera__lens-glare {
  animation-name: cameraLensGlare;
  background-image: radial-gradient(
    100% 100% at center,
    hsl(0, 0%, 100%) 15%,
    hsla(0, 0%, 100%, 0) 50%
  );
  top: 4em;
  left: 3em;
  width: 2em;
  height: 0.875em;
  transform: rotate(0) translateY(2.5em);
}
.camera__lens-eye,
.camera__lens-eye-shadow {
  top: 1.5em;
  left: 1.5em;
  width: 5em;
  height: 5em;
  transform: translateZ(0);
}
.camera__lens-eye {
  background-color: hsl(223, 10%, 10%);
  box-shadow: 0 0 0 0.0625em hsl(223, 10%, 10%);
  overflow: hidden;
}
.camera__lens-eye-shadow {
  box-shadow: 0 0 0.375em 0.25em hsl(223, 10%, 50%);
}
.camera__lens-eye-ring {
  box-shadow: 0 0 0 0.25em hsl(0, 0%, 0%), 0 0 0.25em 0.5em hsl(223, 10%, 25%),
    0 -0.25em 0.25em 0.5em hsl(223, 10%, 20%),
    0 0.2em 0.125em hsl(223, 10%, 40%) inset;
  top: 1em;
  left: 1em;
  width: 3em;
  height: 3em;
}
.camera__lens-eye-inner-glare {
  animation-name: cameraEyeInnerGlare;
  background-color: hsl(223, 10%, 35%);
  /* border-radius: 50% 50% 50% 50% / 20% 20% 80% 80%; */
  box-shadow: 0 0 0.375em 0.25em hsl(223, 10%, 35%);
  top: 3em;
  left: 1.75em;
  width: 1.5em;
  height: 0.5em;
  opacity: 0;
  transform: scale(0);
}
.camera__lens-eye-center {
  background-image: linear-gradient(
    hsl(123, 90%, 5%) 45%,
    hsl(123, 90%, 15%) 75%
  );
  box-shadow: 0 0 0.125em 0.25em hsl(0, 0%, 0%);
  overflow: hidden;
  top: 2.125em;
  left: 2.125em;
  width: 0.75em;
  height: 0.75em;
}
.camera__lens-eye-center-glare {
  animation-name: cameraEyeCenterGlare;
  background-color: hsl(123, 10%, 35%);
  /* border-radius: 50%; */
  top: 0;
  right: 0;
  width: 0.3em;
  height: 0.3em;
}
.camera__lens-eye-glass {
  animation-name: cameraEyeGlass;
  box-shadow: 0 -0.1em 0.1em hsl(63, 90%, 20%) inset,
    0 0 0.125em hsl(3, 90%, 20%) inset, 0 0 0.125em hsl(263, 90%, 40%) inset,
    0 0 0.125em 0.25em hsl(0, 0%, 0%) inset;
  width: 100%;
  height: 100%;
}
.camera__lens-eye-glass-color {
  background-image: linear-gradient(
    hsla(253, 90%, 10%, 0.5) 60%,
    hsla(253, 90%, 40%, 0.5) 60%
  );
  width: 100%;
  height: 100%;
}
.camera__lens-eye-glare {
  animation-name: cameraEyeGlare;
  background-color: hsla(223, 90%, 60%, 0.7);
  border-radius: 50%;
  box-shadow: -0.125em 0.375em 0.5em hsl(268, 90%, 50%) inset;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform: translateX(0) rotate(45deg) scaleY(0.45);
}
.camera__lens-shadow {
  background-image: linear-gradient(
    135deg,
    hsla(223, 50%, 0%, 0.25),
    hsla(223, 50%, 0%, 0)
  );
  filter: blur(4px);
  top: 50%;
  left: 0;
  width: 100%;
  height: 7em;
}
.camera__shadow {
  background-image: linear-gradient(
    90deg,
    hsla(223, 50%, 0%, 0.5),
    hsla(223, 50%, 0%, 0.1)
  );
  border-radius: 40%;
  filter: blur(1px);
  top: calc(100% - 1em);
  width: 100%;
  height: 1em;
  transform: translateZ(-0.01em);
}

/* Dark icon styles */

.camera--dark .camera__front {
  background-image: linear-gradient(hsl(223, 10%, 15%), hsl(223, 10%, 20%));
  box-shadow: 0 0.1em 0 hsl(223, 10%, 25%) inset;
}
.camera--dark .camera__red-light {
  box-shadow: 0.1em -0.1em 0.1em 0.1em hsl(3, 90%, 50%) inset,
    0 0 0.5em 0.25em hsla(3, 90%, 50%, 0.5);
}
.camera--dark .camera__lens-back {
  background-color: hsl(223, 10%, 10%);
}
.camera--dark .camera__lens-inner {
  background-color: hsl(223, 10%, 5%);
}
.camera--dark .camera__lens-inner-glare1 {
  box-shadow: 0.5em -1em 0.5em 0.5em hsl(223, 10%, 25%) inset;
}
.camera--dark .camera__lens-inner-glare2 {
  border: 1em solid hsl(223, 10%, 25%);
  border-bottom: 1em solid transparent;
}
.camera--dark .camera__lens-glare {
  background-image: radial-gradient(
    100% 100% at center,
    hsl(223, 10%, 70%) 15%,
    hsla(223, 10%, 70%, 0) 50%
  );
}
.camera--dark .camera__lens-eye-shadow {
  box-shadow: 0 0 0.375em 0.25em hsl(223, 10%, 2);
}

/* Dark page theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(223, 10%, 30%);
    --fg: hsl(223, 10%, 90%);
  }
}

/* Beyond mobile */
@media (min-width: 768px) {
  main {
    flex-direction: row;
  }
}
