@import "tailwindcss/components";
@layer components {
  /* Link */
  .rw-link {
    @apply text-pea-500;
  }
  .rw-link:hover {
    @apply underline;
  }
  span > .rw-link,
  p > .rw-link {
    @apply decoration-pea-500 text-pea-500 underline underline-offset-4 transition ease-in-out hover:no-underline;
  }

  .rw-header {
    @apply flex justify-between py-4 px-8;
  }

  .rw-segment::-webkit-scrollbar {
    height: initial;
  }
  .rw-segment::-webkit-scrollbar-track {
    @apply rounded-t-none rounded-b-[10px] bg-transparent p-[2px];
  }
  .rw-segment::-webkit-scrollbar-thumb,
  .rw-segment::-webkit-scrollbar-button {
    @apply rounded-full border-[3px] border-solid border-transparent bg-zinc-400 bg-clip-content;
  }

  .rw-segment-header {
    @apply py-3 px-4 text-gray-700 dark:text-stone-200;
  }

  .rw-heading {
    @apply font-semibold;
  }
  .rw-heading.rw-heading-primary {
    @apply text-xl;
  }
  .rw-heading.rw-heading-secondary {
    @apply text-sm;
  }

  .rw-heading .rw-link {
    @apply text-gray-600 no-underline;
  }
  .rw-heading .rw-link:hover {
    @apply text-gray-900 underline;
  }

  .rw-cell-error {
    @apply animate-fly-in text-sm font-semibold;
  }

  /* || FORM */
  .rw-form-wrapper {
    @apply -mt-4 text-sm;
  }
  /* Form Error */
  .rw-cell-error,
  .rw-form-error-wrapper {
    @apply my-4 rounded border border-red-100 bg-red-50 p-4 text-red-600;
  }
  .rw-form-error-title {
    @apply m-0 font-semibold;
  }
  .rw-form-error-list {
    @apply mt-2 list-inside list-disc;
  }
  .rw-form-wrapper .rw-button-group {
    @apply mt-8;
  }
  .rw-label {
    @apply mt-4 inline-block text-left font-semibold uppercase tracking-wide text-gray-600 dark:text-stone-300;
  }
  .rw-sublabel {
    @apply inline-block text-left font-normal text-gray-600 dark:text-stone-300;
  }
  .rw-label.rw-label-error,
  .rw-sublabel.rw-label-error {
    @apply text-red-600;
  }
  .rw-helper-text {
    @apply mt-0.5 text-left text-xs leading-6 tracking-wide text-black/60 dark:text-white/70;
  }
  /* Form Collapsible Section */
  .rw-form-group {
    @apply mt-2 flex flex-col items-start border-stone-500 pt-2 text-gray-900 dark:border-zinc-300 dark:text-stone-200 [&:not(details)]:border-t [&:not(fieldset)]:border-b [&:not(fieldset)]:pb-2;
  }
  .rw-form-group legend,
  .rw-form-group summary {
    @apply relative mb-2 pr-2 text-xl; /* list-decimal */
  }
  .rw-form-group:not(.custom) > div {
    @apply flex flex-col items-start space-y-3 md:flex-row md:space-y-0 md:space-x-3;
  }

  /* || BUTTONS */
  .rw-button {
    @apply relative box-border rounded-lg py-2.5 px-4 text-sm font-medium text-gray-900 dark:text-white;
  }

  .rw-button.disabled,
  .rw-button[disabled] {
    @apply !cursor-not-allowed select-none opacity-50;
  }

  .rw-button.disabled:hover,
  .rw-button[disabled]:hover {
    @apply ring-0;
  }

  .rw-button:focus {
    @apply outline-none ring-current;
  }

  .rw-button-ark {
    @apply bg-[#11667B] px-6 py-1 uppercase outline outline-1 outline-offset-1 outline-[#11667B] transition-colors duration-150 hover:outline-2 hover:outline-offset-0;
  }

  /* Button Sizes */
  .rw-button.rw-button-small {
    @apply rounded-md py-1 px-2 text-xs;
  }
  .rw-button.rw-button-medium {
    @apply py-1.5 px-4 text-sm;
  }
  .rw-button.rw-button-large {
    @apply py-3 px-8 text-base;
  }

  /* Ripple */
  .ripple {
    opacity: 0;
    position: absolute;
  }
  .ripple-rippleVisible {
    opacity: 0.12;
    transform: scale(1);
    animation-name: rippleenter;
    animation-duration: 550ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .ripple-child {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: currentColor;
  }
  .ripple-childLeaving {
    opacity: 0;
    animation-name: rippleexit;
    animation-duration: 550ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  @keyframes rippleenter {
    0% {
      transform: scale(0);
      opacity: 0.1;
    }
    100% {
      transform: scale(1);
      opacity: 0.12;
    }
  }
  @keyframes rippleexit {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  /* Button Icon */
  .rw-button:not(:empty) {
    @apply inline-flex items-center justify-center -space-x-px;
  }
  .rw-button .rw-button-icon-start {
    @apply mr-2;
  }
  .rw-button .rw-button-icon-end {
    @apply ml-2;
  }

  .rw-button .rw-button-icon-start,
  .rw-button .rw-button-icon-end,
  .rw-button .rw-button-icon {
    @apply pointer-events-none w-3.5 fill-current stroke-current leading-5;
  }
  .rw-button.rw-button-small .rw-button-icon-start,
  .rw-button.rw-button-small .rw-button-icon-end,
  .rw-button.rw-button-small .rw-button-icon {
    @apply w-3;
  }
  .rw-button.rw-button-large .rw-button-icon-start,
  .rw-button.rw-button-large .rw-button-icon-end,
  .rw-button.rw-button-large .rw-button-icon {
    @apply w-4;
  }

  /* || Button Variants */

  /* Gray Button */
  .rw-button.rw-button-gray {
    @apply border border-gray-500 bg-zinc-300 text-gray-700 dark:border-zinc-500 dark:bg-zinc-600 dark:text-stone-300;
  }
  .rw-button.rw-button-gray:not([disabled]):hover {
    @apply border-gray-500 bg-zinc-400 text-gray-900 dark:border-zinc-500 dark:bg-zinc-700 dark:text-white;
  }
  .rw-button.rw-button-gray:not([disabled]):focus {
    @apply outline-0;
  }

  /* Gray Outline Button */
  .rw-button.rw-button-gray-outline {
    @apply border border-zinc-700 ring-1 ring-transparent transition dark:border-zinc-500;
  }
  .rw-button.rw-button-gray-outline:not([disabled]):hover {
    @apply border-stone-800 ring-1 ring-zinc-700 dark:border-zinc-600 dark:ring-zinc-500;
  }
  .rw-button.rw-button-gray-outline:not([disabled]):focus {
    @apply border-stone-700 ring-1 ring-stone-400 dark:border-stone-500 dark:ring-stone-400;
  }

  /* Gray Gradient Button */
  .rw-button.rw-button-gray-gradient {
    @apply bg-gradient-to-br from-zinc-400 to-zinc-600 text-white dark:from-zinc-300 dark:to-zinc-500 dark:text-zinc-900;
  }
  .rw-button.rw-button-gray-gradient:not([disabled]):hover {
    @apply from-zinc-500 to-zinc-700 dark:from-zinc-200 dark:to-zinc-400;
  }
  .rw-button.rw-button-gray-gradient:not([disabled]):focus,
  .rw-button.rw-button-gray-gradient:not([disabled]):active {
    @apply from-zinc-600 to-zinc-800 ring-0 dark:from-zinc-400 dark:to-zinc-600;
  }
  .rw-button.rw-button-gray-gradient:disabled {
    @apply from-zinc-100 to-zinc-300 text-zinc-700 dark:from-zinc-700 dark:to-zinc-900 dark:text-zinc-100;
  }

  /* Red Button */
  .rw-button.rw-button-red {
    @apply bg-red-500 text-white;
  }
  .rw-button.rw-button-red:not([disabled]):hover {
    @apply bg-red-700 text-white;
  }
  .rw-button.rw-button-red:not([disabled]):focus {
    @apply ring-1 ring-red-300 dark:ring-red-800;
  }

  /* Red Outline Button */
  .rw-button.rw-button-red-outline {
    @apply border border-red-500 text-red-500;
  }
  .rw-button.rw-button-red-outline:not([disabled]):hover {
    @apply bg-red-600 text-white;
  }
  .rw-button.rw-button-red-outline:not([disabled]):focus {
    @apply outline-none ring-0 ring-red-700;
  }

  /* Red Gradient Button */
  .rw-button.rw-button-red-gradient {
    @apply bg-gradient-to-br from-red-400 to-red-600 text-white dark:from-red-300 dark:to-red-500 dark:text-red-900;
  }
  .rw-button.rw-button-red-gradient:not([disabled]):hover {
    @apply from-red-500 to-red-700 dark:from-red-200 dark:to-red-400;
  }
  .rw-button.rw-button-red-gradient:not([disabled]):focus,
  .rw-button.rw-button-red-gradient:not([disabled]):active {
    @apply from-red-600 to-red-800 ring-0 dark:from-red-400 dark:to-red-600;
  }
  .rw-button.rw-button-red-gradient:disabled {
    @apply from-red-100 to-red-300 text-red-700 dark:from-red-700 dark:to-red-900 dark:text-red-100;
  }

  /* Green Button */
  .rw-button.rw-button-green {
    @apply bg-pea-500 text-white;
  }
  .rw-button.rw-button-green:not([disabled]):hover {
    @apply bg-pea-600;
  }
  .rw-button.rw-button-green:not([disabled]):focus {
    @apply ring-pea-300 dark:ring-pea-800 outline-none ring-1;
  }

  /* Green Outline Button */
  .rw-button.rw-button-green-outline {
    @apply border-pea-500 text-pea-500 border;
  }
  .rw-button.rw-button-green-outline:not([disabled]):hover {
    @apply bg-pea-600 text-white;
  }
  .rw-button.rw-button-green-outline:not([disabled]):focus,
  .rw-button.rw-button-green-outline:not([disabled]):focus-within {
    @apply ring-pea-300 dark:!ring-pea-500/50 ring-2;
  }

  /* Green Gradient Button */
  .rw-button.rw-button-green-gradient {
    @apply from-pea-400 to-pea-600 dark:from-pea-300 dark:to-pea-500 dark:text-pea-950 bg-gradient-to-br text-white;
  }
  .rw-button.rw-button-green-gradient:not([disabled]):hover {
    @apply from-pea-500 to-pea-700 dark:from-pea-200 dark:to-pea-400;
  }
  .rw-button.rw-button-green-gradient:not([disabled]):focus,
  .rw-button.rw-button-green-gradient:not([disabled]):active {
    @apply from-pea-600 to-pea-800 dark:from-pea-400 dark:to-pea-600 ring-0;
  }
  .rw-button.rw-button-green-gradient:disabled {
    @apply from-pea-100 to-pea-300 text-pea-700 dark:from-pea-700 dark:text-pea-100 dark:to-pea-900;
  }

  /* Blue Button */
  .rw-button.rw-button-blue {
    @apply bg-blue-500 text-white;
  }
  .rw-button.rw-button-blue:not([disabled]):hover {
    @apply bg-blue-600;
  }
  .rw-button.rw-button-blue:not([disabled]):focus {
    @apply ring-1 ring-blue-300 dark:ring-blue-800;
  }

  /* Blue Outline Button*/
  .rw-button.rw-button-blue-outline {
    @apply border border-blue-500 text-blue-500;
  }
  .rw-button.rw-button-blue-outline:not([disabled]):hover {
    @apply bg-blue-600 text-white;
  }
  .rw-button.rw-button-blue-outline:not([disabled]):focus {
    @apply outline-none ring-4 ring-blue-800;
  }

  /* Blue Gradient Button */
  .rw-button.rw-button-blue-gradient {
    @apply bg-gradient-to-br from-blue-400 to-blue-600 text-white dark:from-blue-300 dark:to-blue-500 dark:text-blue-900;
  }
  .rw-button.rw-button-blue-gradient:not([disabled]):hover {
    @apply from-blue-500 to-blue-700 dark:from-blue-200 dark:to-blue-400;
  }
  .rw-button.rw-button-blue-gradient:not([disabled]):focus,
  .rw-button.rw-button-blue-gradient:not([disabled]):active {
    @apply from-blue-600 to-blue-800 ring-0 dark:from-blue-400 dark:to-blue-600;
  }
  .rw-button.rw-button-blue-gradient:disabled {
    @apply from-blue-100 to-blue-300 text-blue-700 dark:from-blue-700 dark:to-blue-900 dark:text-blue-100;
  }

  /* Yellow Button */
  .rw-button.rw-button-yellow {
    @apply bg-yellow-500 text-white;
  }
  .rw-button.rw-button-yellow:not([disabled]):hover {
    @apply bg-yellow-600 text-white;
  }
  .rw-button.rw-button-yellow:not([disabled]):focus {
    @apply ring-1 ring-yellow-300 dark:ring-yellow-800;
  }

  /* Yellow Outline Button*/
  .rw-button.rw-button-yellow-outline {
    @apply border border-yellow-500 text-yellow-500;
  }
  .rw-button.rw-button-yellow-outline:not([disabled]):hover {
    @apply bg-yellow-600 text-white;
  }
  .rw-button.rw-button-yellow-outline:not([disabled]):focus {
    @apply outline-none ring-4 ring-yellow-800;
  }

  /* Yellow Gradient Button */
  .rw-button.rw-button-yellow-gradient {
    @apply bg-gradient-to-br from-yellow-400 to-yellow-600 text-white dark:from-yellow-300 dark:to-yellow-500 dark:text-yellow-900;
  }
  .rw-button.rw-button-yellow-gradient:not([disabled]):hover {
    @apply from-yellow-500 to-yellow-700 dark:from-yellow-200 dark:to-yellow-400;
  }
  .rw-button.rw-button-yellow-gradient:not([disabled]):focus,
  .rw-button.rw-button-yellow-gradient:not([disabled]):active {
    @apply from-yellow-600 to-yellow-800 ring-0 dark:from-yellow-400 dark:to-yellow-600;
  }
  .rw-button.rw-button-yellow-gradient:disabled {
    @apply from-yellow-100 to-yellow-300 text-yellow-700 dark:from-yellow-700 dark:to-yellow-900 dark:text-yellow-100;
  }

  /* Button Group */
  .rw-button-group {
    @apply my-3 flex w-fit justify-center rounded-lg;
  }

  .rw-button-group.rw-button-group-vertical {
    @apply flex-col;
  }
  .rw-button-group > .rw-button,
  .rw-button-group > .rw-input,
  .rw-button-group > .rw-float-input,
  .rw-button-group > .rw-input-underline {
    @apply mt-0 rounded-none;
  }
  .rw-button-group > .rw-button:only-child,
  .rw-button-group > .rw-input:only-child,
  .rw-button-group > .rw-float-input:only-child {
    @apply rounded-lg;
  }

  /* Horizontal Button Group */
  .rw-button-group:not(.rw-button-group-vertical) > .rw-input,
  .rw-button-group:not(.rw-button-group-vertical) > .rw-input-underline,
  .rw-button-group:not(.rw-button-group-vertical) > .rw-button {
    @apply first:rounded-l-lg last:rounded-r-lg;
  }
  .rw-button-group:not(.rw-button-group-vertical) .rw-float-input {
    @apply first-of-type:rounded-l-lg last-of-type:rounded-r-lg;
  }

  .rw-button-group.rw-button-group-vertical .rw-input,
  .rw-button-group.rw-button-group-vertical .rw-input-underline,
  .rw-button-group.rw-button-group-vertical .rw-button {
    @apply first:rounded-t-lg last:rounded-b-lg;
  }

  .rw-button-group.rw-button-group-border:not(.rw-button-group-vertical)
    .rw-input,
  .rw-button-group.rw-button-group-border:not(.rw-button-group-vertical)
    .rw-input-underline,
  .rw-button-group.rw-button-group-border:not(.rw-button-group-vertical)
    .rw-float-input,
  .rw-button-group.rw-button-group-border:not(.rw-button-group-vertical)
    .rw-button {
    @apply between:!border-l-0 not-only:last:!border-l-0 border border-zinc-500;
  }

  .rw-button-group.rw-button-group-vertical.rw-button-group-border .rw-input,
  .rw-button-group.rw-button-group-vertical.rw-button-group-border
    .rw-input-underline,
  .rw-button-group.rw-button-group-vertical.rw-button-group-border
    .rw-float-input,
  .rw-button-group.rw-button-group-vertical.rw-button-group-border .rw-button {
    @apply between:border-t-0 not-only:last:border-t-0 border border-zinc-500;
  }

  /* || INPUT FIELDS */
  .rw-input {
    @apply block rounded-lg border border-zinc-500 bg-zinc-50 px-4 py-2.5 text-sm text-gray-900 !placeholder-zinc-700 !placeholder-opacity-60 !outline-none [-moz-appearance:_textfield] invalid:border-red-500 focus:border-stone-500 focus:ring-0 focus:ring-stone-500 disabled:cursor-default disabled:text-gray-400 contrast-more:border-black contrast-more:placeholder-black dark:bg-zinc-600 dark:text-stone-200 dark:!placeholder-zinc-300 dark:focus:border-zinc-400 dark:focus:bg-zinc-600 dark:focus:ring-stone-200 dark:contrast-more:border-white;
  }

  /* Input Sizes */
  .rw-input.rw-input-small {
    @apply py-1 px-2 text-xs;
  }
  .rw-input.rw-input-medium {
    @apply py-1.5 px-4 text-sm;
  }
  .rw-input.rw-input-large {
    @apply py-3 px-8 text-base;
  }

  /* Float */
  .rw-float-input {
    @apply focus:after:border-b-pea-500 block w-full appearance-none rounded border border-zinc-500 bg-zinc-300 px-2.5 pb-2.5 pt-4 text-sm text-gray-900 transition-colors after:absolute after:inset-0 after:border-b-2 after:content-[''] focus:outline-none focus:ring-0 dark:bg-zinc-600 dark:text-white;
  }
  .rw-float-label {
    @apply absolute top-4 left-1 z-[2] origin-[0] -translate-y-4 scale-75 transform px-2 text-sm text-gray-500 transition-all duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-4 peer-focus:-translate-y-4 peer-focus:scale-75 dark:text-gray-400;
  }

  /* Underline */
  .rw-input-underline {
    @apply relative;
  }
  .rw-input-underline textarea,
  .rw-input-underline input {
    @apply relative block w-full rounded-t border-b border-black/40 bg-black/[.06] px-3 pb-2 pt-6 text-base text-gray-900 transition-colors duration-200 placeholder:opacity-0 hover:border-black/80 hover:bg-black/[.09] focus:bg-black/[.06] focus:outline-none focus:ring-0 dark:border-white/70 dark:bg-white/[.09] dark:text-white dark:hover:border-white dark:hover:bg-white/[.13] dark:focus:bg-white/[.09];
  }
  .rw-input-underline textarea:disabled,
  .rw-input-underline input:disabled {
    @apply pointer-events-none select-none border-dotted text-white/50 hover:border-black/40 hover:bg-black/[.06] dark:hover:border-white/70 dark:hover:bg-white/[.09];
  }
  .rw-input-underline.small textarea,
  .rw-input-underline.small input {
    @apply px-3 pt-5 pb-1;
  }
  .rw-input-underline label {
    @apply pointer-events-none absolute top-4 left-1 z-10 origin-[0] -translate-y-4 scale-75 transform select-none px-2 text-base text-gray-500 duration-300 will-change-transform dark:text-gray-400;
  }
  .rw-input-underline:focus-within::after {
    @apply scale-x-100;
  }

  .rw-input-underline::after {
    @apply border-pea-500 pointer-events-none absolute inset-0 block h-full w-full scale-x-0 transform border-b-2 transition-transform duration-200 ease-out content-['\00a0'];
  }

  /* Select */
  select.rw-input.rw-input-small {
    @apply text-sm;
  }
  .rw-input option {
    @apply appearance-none border-b border-black focus:outline-none dark:border-white;
  }

  /* Checkbox */
  .rw-checkbox,
  .rw-input[type="checkbox"],
  .rw-input.rw-checkbox[type="checkbox"] {
    @apply focus:outline-pea-500 relative ml-0 mr-1 block h-6 w-6 cursor-pointer appearance-none rounded p-2 transition duration-200;
  }
  .rw-input.rw-input-small[type="checkbox"] {
    @apply h-4 w-4 p-1;
  }
  .rw-checkbox:checked::before,
  .rw-input[type="checkbox"]:checked::before {
    @apply absolute top-0 left-1/2 inline translate-y-[2px] -translate-x-1/2 transform whitespace-pre content-['✓'];
  }

  /* Checkbox Group Comp */
  .rw-check-input:checked + .rw-check-tile {
    @apply border-pea-500 text-pea-500 shadow-lg;
  }
  .rw-check-input:checked + .rw-check-tile::before {
    @apply bg-pea-500 border-pea-500 scale-100 opacity-100;
  }
  .rw-check-input:checked + .rw-check-tile span {
    @apply text-black dark:text-white;
  }

  .rw-check-tile:hover::before:not(.disabled) {
    @apply scale-100 stroke-stone-100 text-stone-600 opacity-100 dark:text-stone-100;
  }
  .rw-check-tile::before {
    @apply absolute top-1 left-1 block h-5 w-5 scale-0 transform rounded-full border bg-[url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='192'%20height='192'%20fill='%23FF0000'%20viewBox='0%200%20256%20256'%3E%3Crect%20width='256'%20height='256'%20fill='none'%3E%3C/rect%3E%3Cpolyline%20points='216%2072.005%20104%20184%2048%20128.005'%20fill='none'%20stroke='%23ffffff'%20stroke-linecap='round'%20stroke-linejoin='round'%20stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E")] bg-[length:12px_12px] bg-center bg-no-repeat opacity-0 transition-all duration-150 ease-in content-[''];
  }

  /* Radio */
  .rw-input[type="radio"] {
    @apply text-pea-600 dark:accent-pea-600 accent-pea-500 inline h-4 w-4 border-zinc-500;
  }
  .rw-check-radio-items {
    @apply flex items-center justify-items-center space-x-1 text-zinc-800 dark:text-zinc-200;
  }
  .rw-check-radio-item-none {
    @apply text-gray-600;
  }

  /* Range */
  /* input[type="range"].slider::-ms-track,  */
  input[type="range"].slider::-webkit-slider-runnable-track,
  input[type="range"].slider::-moz-range-track {
    @apply h-6 appearance-none;
  }
  input[type="range"].slider::-webkit-slider-thumb,
  input[type="range"].slider::-moz-range-thumb {
    @apply pointer-events-auto h-[100px] w-6 cursor-pointer appearance-none border-none bg-transparent outline-none;
  }
  input[type="range"].slider::-ms-thumb {
    @apply pointer-events-auto h-[100px] w-6 cursor-pointer appearance-none border-none bg-transparent outline-none;
  }
  input[type="range"].slider:active::-webkit-slider-thumb,
  input[type="range"].slider:focus::-moz-range-thumb,
  input[type="range"].slider:active::-moz-range-thumb {
    @apply border-none bg-none outline-none;
  }

  /* Input Error */
  .rw-input-error {
    @apply border-red-600 text-red-600 placeholder-red-700;
  }
  .rw-input-error:focus {
    @apply border-red-600 outline-none;
    box-shadow: 0 0 5px #c53030;
  }
  .rw-field-error {
    @apply mt-1 block text-xs font-semibold uppercase text-red-600;
  }

  /* || Divider */
  .rw-divider {
    @apply relative m-[initial] shrink-0 list-none self-stretch [border:medium] [inline-size:1px] [margin-inline:initial] [block-size:initial];
  }

  .parchment {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    inset: 0;
    box-shadow: 0px 0px 60px #9c8261 inset;
    background: #e0d4be;
    z-index: -1;
  }

  /* || Transitions */

  /* || Toasts */
  .rw-toast {
    @apply rounded-lg border-2 bg-zinc-50 p-4 text-black dark:bg-zinc-700 dark:text-white;
  }

  /* Info */
  .rw-toast.rw-toast-info {
    @apply border-blue-400 text-blue-800 dark:border-blue-800 dark:text-blue-400;
  }

  /* Success */
  .rw-toast.rw-toast-success {
    @apply text-pea-800 border-pea-300 dark:text-pea-400 dark:border-pea-600;
  }

  /* Warning */
  .rw-toast.rw-toast-warning {
    @apply border-yellow-300 text-yellow-800 dark:border-yellow-800 dark:text-yellow-400;
  }

  /* Error */
  .rw-toast.rw-toast-error {
    @apply border-red-300 text-red-800 dark:border-red-600 dark:text-red-400;
  }

  /* Table */
  .rw-table-wrapper-responsive {
    @apply overflow-x-auto;
  }
  .rw-table-wrapper-responsive .rw-table {
    min-width: 48rem;
  }
  .rw-table {
    @apply w-full min-w-max table-auto text-sm;
  }
  .rw-table thead tr {
    @apply bg-gray-200 text-sm uppercase leading-normal text-gray-600;
  }
  .rw-table tbody tr {
    @apply border-b border-gray-200 text-black hover:bg-gray-100/10 dark:text-white;
  }
  .rw-table th,
  .rw-table td {
    @apply whitespace-nowrap py-3 px-6 text-left;
  }

  .rw-table input {
    @apply ml-0;
  }
  .rw-table-actions {
    @apply flex items-center justify-center;
  }

  /* || PAGINATION */
  .rw-pagination-item,
  .rw-pagination-item[type="button"] {
    @apply border border-gray-400 bg-zinc-300 px-3 py-2 text-gray-500 hover:bg-zinc-200 hover:text-gray-700 disabled:pointer-events-none disabled:cursor-not-allowed disabled:bg-opacity-70 dark:border-zinc-500 dark:bg-zinc-600 dark:text-zinc-400 dark:hover:bg-zinc-700 dark:hover:text-white;
    /* @apply border border-gray-300 bg-zinc-400 px-3 py-2 text-gray-500 hover:bg-zinc-300 hover:text-gray-700 disabled:pointer-events-none disabled:cursor-not-allowed disabled:bg-opacity-70 dark:border-zinc-600 dark:bg-zinc-700 dark:text-zinc-400 dark:hover:bg-zinc-600 dark:hover:text-white; */
  }
  .rw-pagination-item:first-of-type {
    @apply rounded-l-lg;
  }
  .rw-pagination-item:last-of-type {
    @apply rounded-r-lg;
  }
  .rw-pagination-item-active,
  .rw-pagination-item-active[type="button"] {
    @apply border border-zinc-300 bg-zinc-100 px-3 py-2 font-bold text-gray-700 hover:bg-zinc-300 hover:text-gray-700 dark:border-zinc-500 dark:bg-zinc-500 dark:text-white dark:hover:bg-zinc-600 dark:hover:text-white;
  }

  /* Image */
  .rw-img-disable img {
    @apply opacity-40 brightness-[1.4] contrast-0 hue-rotate-[116deg] saturate-[.28] sepia;
  }
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* https://codepen.io/andybarefoot/pen/PBPrex */
